<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<!--<link rel="stylesheet" type="text/css" href="/css/app.css" />-->
		<title>Point Kiva</title>
		<script>
			window.data = <%- JSON.stringify(data) %>;
		</script>
	</head>
	<body>
		<script src="/js/app.js"></script>
	</body>
</html>
