html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
@media (min-width: 30rem) {
  html {
    font-size: 1.25rem;
  }
}
@media (min-width: 50rem) {
  html {
    font-size: 1.5rem;
  }
}
@media (min-width: 70rem) {
  html {
    font-size: 1.75rem;
  }
}
@media (min-width: 90rem) {
  html {
    font-size: 2rem;
  }
}
@media (min-width: 90rem) {
  html {
    font-size: 2.25rem;
  }
}
body {
  height: 100%;
  font-family: sans-serif;
}
.main {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-shadow: inset 0 0 20rem 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 0 20rem 0 rgba(0,0,0,0.15);
}
.text-input {
  position: relative;
  margin: 0.5rem;
}
.text-input input[type="text"] {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0.4rem;
  display: block;
  margin: 0;
  color: #222;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border: none;
  border-bottom: 0.1vh solid #333;
}
.text-input input[type="text"]:focus {
  outline: none;
}
.text-input input[type="text"] ~ label {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0.4rem;
  display: none;
  pointer-events: none;
  position: absolute;
  top: 1px;
  color: #a3b0c1;
  font-style: italic;
}
.text-input input[type="text"]:placeholder-shown ~ label {
  display: inline;
}
.arena {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.player {
  position: absolute;
  font-size: 1.5rem;
}
.player span {
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
}
.player span.hidden:after {
  content: '';
  position: absolute;
  background-color: #333;
  width: 3rem;
  left: 0;
  top: 0;
  bottom: 0;
}
.scoreboard {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 4.5rem;
}
.hide_votes .scoreboard {
  display: none;
}
.scoreboard li {
  display: inline-block;
}
.scoreboard li::after {
  content: ',';
}
.scoreboard li:last-of-type::after {
  content: '';
}
.control {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.control .text-input {
  min-width: 4.5rem;
}
.control .text-input input {
  margin: 0 auto;
}
.control .text-input input ~ label {
  padding-left: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
.control .buttons {
  width: 100%;
  text-align: center;
}
.control button {
  position: relative;
  border-width: 0;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0.1rem 0.25rem;
}
.control button svg {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  fill: #fff;
}
.control button.reset {
  background-color: #f44;
}
.control button.reset svg {
  left: 46.5%;
  top: 48.5%;
}
.control button.reveal {
  background-color: #4f4;
}
.control button.reveal svg {
  left: 50%;
  top: 50%;
}
.control button:focus {
  outline: none;
}
.control button:active.reset {
  background-color: #d22;
}
.control button:active.reveal {
  background-color: #2d2;
}
.deck {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.deck .card {
  width: 4rem;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.deck .card input {
  display: none;
}
.deck .card label {
  display: block;
  width: 96%;
  height: 96%;
  background-color: #48f;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2;
  text-align: center;
  border-radius: 2%;
  border: 0.2rem solid #fff;
  -webkit-box-shadow: 0 0.05vw 0.35vw 0.05vw rgba(0,0,0,0.25);
  box-shadow: 0 0.05vw 0.35vw 0.05vw rgba(0,0,0,0.25);
}
.deck .card input:checked + label {
  background-color: #f84;
}
