global-reset()

*
	box-sizing border-box

html
	height 100%

	@media (min-width 30rem)
		font-size 1.25rem

	@media (min-width 50rem)
		font-size 1.5rem

	@media (min-width 70rem)
		font-size 1.75rem

	@media (min-width 90rem)
		font-size 2rem

	@media (min-width 90rem)
		font-size 2.25rem

body
	height 100%
	font-family sans-serif

.main
	height 100%
	display flex
	flex-flow column nowrap
	box-shadow: inset 0 0 20rem 0 rgba(0,0,0,0.15);

name-styling()
	font-size 3vh
	font-weight bold
	padding-left 0.4rem

.user
	position relative
	margin 0.5rem

	input
		name-styling()
		display block
		margin 0
		color: #222
		appearance none
		box-shadow none
		background transparent
		border none
		border-radius none
		border-bottom 0.75vh solid #a3c7fb

		&:focus
			outline none

		&:placeholder-shown ~ label
			display inline

	label
		name-styling()
		display none
		pointer-events none
		position absolute
		top 1px
		color #a3c7fb
		font-style italic

.arena
	position relative
	width 100%
	flex-grow 1

.player
	position absolute
	font-size 1.5rem

.scoreboard
	position absolute
	bottom 0
	left 50%
	transform translateX(-50%)
	font-size 4.5rem

	li
		display inline-block

.deck
	display flex
	flex-wrap wrap
	justify-content center

	.card
		width 4rem
		flex-grow 0

		input
			display none

		label
			display block
			width 96%
			height 96%
			background-color #48f
			color #fff
			user-select: none
			font-weight bold
			font-size 1.75rem
			line-height 2
			text-align center
			border-radius 2%
			border 0.2rem solid #fff
			box-shadow 0 0.05vw 0.35vw 0.05vw rgba(0,0,0,0.25)

		input:checked + label
			background-color #f84
