global-reset()

.main
	width 40%

.arena
	position relative
	width 100%
	padding-bottom 50%

.player
	position absolute
	transform translate(-50%, -50%)

.scoreboard
	position absolute
	bottom 0
	left 50%
	transform translateX(-50%)
