.arena
	position relative
	width 100%
	flex-grow 1

.player
	position absolute
	font-size 1.5rem

.scoreboard
	position absolute
	bottom 0
	left 50%
	transform translateX(-50%)
	font-size 4.5rem

	li
		display inline-block
