html
	height 100%

	@media (min-width 30rem)
		font-size 1.25rem

	@media (min-width 50rem)
		font-size 1.5rem

	@media (min-width 70rem)
		font-size 1.75rem

	@media (min-width 90rem)
		font-size 2rem

	@media (min-width 90rem)
		font-size 2.25rem

body
	height 100%
	font-family sans-serif
