.where
	margin-left 0.5rem

	span:nth-child(even)
		color #ccc

	span:nth-child(odd)
		font-weight bold
		color #888
		margin 0 0.2rem

.lobby .where
	div:first-of-type, span:first-of-type
		display none
